<div style="font-family:Helvetica;"  >
  <div class="row-fluid">
    <div class="span6"> <img src="http://www.joomlathat.com/images/joomlathat3.png" /><br />
      <br />
      <dl class="dl-horizontal">
        <dt>From</dt>
        <dd> <strong>{from_name}</strong> </dd>
        <dt>Address</dt>
        <dd>
          <address>
          {from_address}
          </address>
        </dd>
        <dt>e-mail</dt>
        <dd> {from_email} </dd>
        <dt>Fiscal number</dt>
        <dd> {from_num} </dd>
      </dl>
    </div>
    <div class="span6">
      <div class="well well-small">
        <dl class="dl-horizontal">
          <dt>Invoice number</dt>
          <dd>{invoice_num}</dd>
          <dt>Invoice date</dt>
          <dd>{invoice_date}</dd>
          <dt>Due date</dt>
          <dd>{invoice_duedate}</dd>
          <dt>Invoice total</dt>
          <dd>{total}</dd>
          <dt>Status</dt>
          <dd>{status}</dd>
        </dl>
      </div>
      <div class="well well-small">
        <dl class="dl-horizontal">
          <dt>Bill to</dt>
          <dd> <strong>{to_name}</strong> </dd>
          <dt>Address</dt>
          <dd>
            <address>
            {to_company} <br />
            {to_address} <br />
            {to_zipcode} {to_city} <br />
            {to_state} {to_country}
            </address>
          </dd>
          <dt>e-mail</dt>
          <dd>{to_email}</dd>
          <dt>VAT ID</dt>
          <dd>{to_vatid}</dd>
        </dl>
      </div>
    </div>
  </div>
  <h2 class="invoice_header">Items</h2>
  <table width="100%" class="table table-striped"   >
    <thead>
      <tr>
        <th align="left">Description</th>
        <th align="right" style="text-align:right;">Unit cost</th>
        <th align="right" style="text-align:right;">Quantity</th>
        <th align="right" style="text-align:right;">Discount</th>
        <th align="right" style="text-align:right;">Price</th>
      </tr>
    </thead>
    <tbody>
    
    {items}
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td colspan="2" align="right" style="text-align:right;">Discount</td>
        <td align="right" style="text-align:right;">{discount}</td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td colspan="2" align="right" style="text-align:right;">Subtotal</td>
        <td align="right" style="text-align:right;">{subtotal}</td>
      </tr>
    {taxes}
    <tr>
      <td colspan="2"></td>
      <td colspan="2" align="right" style="text-align:right;"><strong>Total</strong></td>
      <td align="right" style="text-align:right;"><strong>{total}</strong></td>
    </tr>
    </tfoot>
    
  </table>
  <ul class="nav nav-tabs">
    <li><a href="#payments_received" data-toggle="tab">Payments received {num_payments_received}</a></li>
    <li class="active"><a href="#pending_payments" data-toggle="tab">Pending payments {num_pending_payments}</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane " id="payments_received">
      <table width="100%" class="table table-striped " style="table-layout:fixed;" >
        <thead>
          <tr>
            <th align="left">Payment date</th>
            <th align="left">Description</th>
            <th align="left">Status</th>
            <th align="left"></th>
            <th align="right" style="text-align:right;">Amount</th>
          </tr>
        </thead>
        <tbody>
        
        {payments}
        </tbody>
        
        <tfoot>
          <tr>
            <td ></td>
            <td ></td>
            <td ></td>
            <td align="right" style="text-align:right;"><strong>Total amount paid</strong></td>
            <td align="right" style="text-align:right;"><strong>{total_payments}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="tab-pane active" id="pending_payments">
      <table width="100%" class="table table-striped table-hover" style="table-layout:fixed;">
        <thead>
          <tr>
            <th align="left">Due date</th>
            <th align="left">Description</th>
            <th align="left">Status</th>
            <th align="left"></th>
            <th align="right" style="text-align:right;">Amount</th>
          </tr>
        </thead>
        <tbody>
        
        {payments2}
        </tbody>
        
        <tfoot>
          <tr>
            <td ></td>
            <td ></td>
            <td ></td>
            <td align="right" style="text-align:right;"><strong>Amount outstanding</strong></td>
            <td align="right" style="text-align:right;"><strong>{amount_outstanding}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
 
  <div style="padding:2px;">Notes</div>
  <div style="border-top:1px solid #000; padding:2px; " class="muted"><small>{notes}</small></div>
</div>